<%- include("partials/header") %>

<div
  class="container"
  style="
    background-image: url(https://broadwayoriginals.com/wp-content/uploads/2021/09/1575989448.jpg);
  "
>
  <div id="frontView">
    <h1>Contact Us</h1>
    <h2>Phone No:0321999778878</h2>
    <div>
      <ul>
        <a href="https://www.facebook.com/saqibansari.official">
          <li><i class="fa-brands fa-facebook fa-2x"></i></li>
        </a>
        <a href="https://www.instagram.com/saqibansari.official">
          <li><i class="fa-brands fa-instagram fa-2x"></i></li>
        </a>
        <a href="http://">
          <li><i class="fa-brands fa-twitter fa-2x"></i></li>
        </a>
        <a href="https://github.com/Saqib-Ansari786">
          <li><i class="fa-brands fa-github fa-2x"></i></li>
        </a>
        <a href="https://www.linkedin.com/in/saqib-ali-161065242">
          <li><i class="fa-brands fa-linkedin fa-2x"></i></li>
        </a>
      </ul>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
