<section id="footer">
    <div class="basic-container">
      <div class="title">
        <h1>Saqib Ansari</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo libero id reprehenderit eius expedita
          eos, labo</p>
      </div>
      <div class="footer-details">
        <div class="social-icons">
          <a href="https://www.facebook.com/saqibansari.official"><i class="fab fa-facebook-f"></i></a>
          <a href="https://github.com/Saqib-Ansari786"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/saqibansari.official"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/saqib-ali-161065242"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p>© Copyright MyResume. All Rights Reserved | Design by <a
            href="https://www.linkedin.com/in/saqib-ali-161065242">Saqib Ansari</a></p>

      </div>
    </div>
  </section>


</body>

</html>