:root {
  --heading_color: #525457;
  --blue: #0563bb;
  --black: #272829;
  --white: aliceblue;
  --red: red;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  margin: 0;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--red);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.nav-items {
  padding: 0;
  display: block;
}

.nav-items * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-items ul {
  list-style-type: none;
}

.nav-items li {
  border: var(--blue) solid 2px;
  width: 4em;
  margin: 1em;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  height: 4em;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0px;
  overflow-y: auto;
}

.container {
  width: 100%;
  height: 100vh;
  background: url("assets/saqib\ cover.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}
.container:before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#frontView {
  margin-left: 20%;
  margin-top: 10%;
  position: absolute;
}

#frontView h1 {
  font-size: 4em;
  color: var(--heading_color);
}

#frontView h2 {
  font-size: 2em;
  color: var(--heading_color);
}
#frontView ul {
  list-style-type: none;
  display: inline-flex;
}

#frontView ul li {
  margin-left: 1em;
}

#navbar li:hover,
#navbar a:hover {
  background-color: #0563bb;
  color: var(--white);
}

.basic-container {
  position: relative;
  margin-left: 10%;
  margin-top: 5%;
}

.basic-container .title {
  color: var(--heading_color);
  text-align: center;
}

.basic-container .title h1 {
  font-size: 40px;
}

.basic-container ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.about-container .details {
  display: flex;
}
.about-container .details img {
  width: 400px;
  height: 400px;
}

.about-container .details ul li {
  display: flex;
  align-items: center;
  width: 50%;
}

.facts-container ul li {
  align-items: center;
  width: 25%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.skills-container ul li {
  align-items: center;
  width: 48%;
  padding-top: 20px;
}

.skills-container ul li .word-container {
  display: flex;
  justify-content: space-between;
}

.skills-container .progress {
  width: 100%;
  height: 7px;
  background-color: var(--blue);
  margin-top: 10px;
}

.facts-container .icon-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--blue);
  justify-content: center;
  display: flex;
  align-items: center;
  color: var(--white);
}

.resume-details {
  display: flex;
  justify-content: space-between;
}

.resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--blue);
  position: relative;
}

.resume-item h3 {
  color: var(--blue);
}

.resume-item ul {
  list-style-type: circle;
  display: block;
}

.resume-item::before {
  content: "";
  border: var(--blue) solid 2px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  width: 16px;
  height: 16px;
  left: -10px;
  top: 0px;
}

.portfolio-details .link-tags {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-details ul li {
  margin-right: 30px;
}

/* .portfolio-details {
  display: flex;
  flex-direction: row;
} */

.portfolio-details .image-gallery {
  display: flex;
}

.portfolio-details .image-gallery .image-set {
  padding: 0.3%;
  flex: 1;
}

.footer-details,
.footer-details .social-icons {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-details .social-icons a {
  margin-right: 30px;
  background-color: var(--blue);
  color: var(--white);
  padding: 10px;
  border-radius: 50%;
}

.footer-details .social-icons a:hover {
  background-color: var(--red);
}
