* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

:root {
  --bgcolor: #5d0686;
  --btnColor: #ef5b81;
  --mainbgcolor: #f5f3fc;
  --whiteColor: white;
  --purple_light: #6b259c;
  --orange-color: #f64800;
}

.alert-color {
  background-color: var(--orange-color);
}

.bg-color {
  background-image: url("assets/bg.svg");
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
}

#header .dropdown-menu {
  width: 100%;
}

#firstDiv .btn {
  background-color: var(--btnColor);
}

#secondDiv {
  background-color: var(--mainbgcolor);
  background-image: url("assets/trust_background.png");
  background-size: auto;
  background-repeat: no-repeat;
  padding-top: 20%;
  text-align: center;
}

#secondDiv .centerDiv {
  background-color: var(--whiteColor);
  text-align: center;
}

.live-bg-image {
  background-image: url("assets/Live1-on-1.svg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.coding-bg-image {
  background-image: url("assets/Coding.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.epic-bg-image {
  background-image: url("assets/Epic.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.rounded-circle {
  background-color: var(--mainbgcolor);
  width: 80px;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.horizontal-scrollable > .row {
  overflow: auto;
  white-space: nowrap;
}

.horizontal-scrollable > .row > .col {
  display: inline-block;
  float: none;
}
#byjusNews {
  background-image: url("assets/mediaBg.svg");
  background-size: cover;
}
#brands {
  background-color: var(--purple_light);
}
#brands .box-absolute {
  margin-top: -50px;
}

#footer {
  background-color: var(--bgcolor);
}

#footer .ulStyle {
  list-style-type: none;
}

#footer .ulStyle a {
  color: var(--bgcolor);
  background-color: var(--whiteColor);
  padding: 10px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .main_img {
    width: 300px;
    height: 300px;
  }
  .handlePic {
    width: 300px;
    height: 300px;
  }
  .orderChange-1 {
    order: 2;
  }
  .orderChange-2 {
    order: 1;
  }
}
